*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;

}

.main{
    height: 100%;
    width: 100%;
    background-color: gray;
}
.nav{
    height: 100px;
    width: 100%;
    position: relative;
    text-align: center;
    background-color: red;
}
a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
.left{
    text-align: left;
}

.center{
    font-size: 20px;
    text-align: center;
}
.right{
    text-align: right;
    
}

